<!DOCTYPE html>
<html>
<head>
    <title>Robot Cleaning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/RobotVideoPageStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video-js-8.23.3/video-js.min.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body>
    <div class="main_container">
        <div class="content_wrapper">
            <div class="image_section">
                <div class="image_container" style="position: relative; width: 100%; height: auto; overflow: visible;">
                    <img id="image_container" src="" alt="mark the image to control the robot" style="display: none; width: 100%; height: auto;">
                    <canvas id="grid_overlay" class="grid_overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: auto; z-index: 2;"></canvas>
                    <div id="image_placeholder" class="image_placeholder" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
                        <p>Image will appear here</p>
                    </div>
                </div>

                <div class="image_controls">
                    <button id="upload_button" class="btn btn-upload">Upload Image</button>
                    <button id="upload_annotation" class="btn btn-execute">Execute</button>
                </div>
            </div>

            <div class="center_controls">
                <button id="jump_to_video_annotation" class="btn btn-jump">To Video Annotation</button>
                <button id="jump_to_robot_video" class="btn btn-jump">To Video Cleaning</button>
            </div>

            <div id="status"> </div>
        </div>

        <div id="context_menu" class="dropdown-content">
            <a href="#" data-color="white" class="dropdown">0 White</a>
            <a href="#" data-color="green" class="dropdown">1 Green</a>
            <a href="#" data-color="yellow" class="dropdown">2 Yellow</a>
            <a href="#" data-color="blue" class="dropdown">3 Blue</a>
            <a href="#" data-color="red" class="dropdown">4 Red</a>
            <a id="clear_button" href="#" data-color="_clear_" class="dropdown">X Clear</a>
            <a id="cancel_button" href="#" data-color="_cancel_" class="dropdown">Cancel</a>
        </div>
    </div>

    <input type="file" id="image_file_input" accept="image/*" style="display: none;">

    <script src="{{ url_for('static', filename='js/cleaning.js')}}"> </script>
    <script>
        const M = {{m}};
        const N = {{n}};
    </script>

    <form id="marks_form" action="/new_actions" method="POST">
        <input type="hidden" id="marks_data" name="marks_data">
    </form>

</body>
</html>